@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  /* Font Family */
  --ff-karla: 'Karla', sans-serif;

  /* Font Weight */
  --fw-400: 400;
  --fw-700: 700;

  /* Colors */
  /* Primary */
  --clr-pr-cyan: hsl(179, 62%, 43%);
  --clr-pr-ltcyan: hsl(179, 47%, 52%);
  --clr-pr-yellow: hsl(71, 73%, 54%);

  /* Neutral */
  --clr-ne-ltgray: hsl(204, 43%, 93%);
  --clr-ne-grblue: hsl(218, 22%, 67%);

  /* Font Size */
  --fs-title: 1.25rem;
  --fs-text: 0.875rem;
  --fs-accent-text: .9rem;

}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--clr-ne-ltgray);
  padding: 1.6rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: .3rem;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card {
  display: flex;
  flex-direction: column;
  padding-block: 1.6rem;
  padding-inline: 1.5rem;
}

.card-title {
  font-family: var(--ff-karla);
  font-weight: var(--fw-700);
  font-size: var(--fs-title);
  color: var(--clr-ne-ltgray);
}

.text {
  font-family: var(--ff-karla);
  font-size: var(--fs-text);
  font-weight: var(--fw-400);
  line-height: 1.5;
  color: var(--clr-ne-grblue);
}

.card:nth-child(1) {
  background-color: #ffffff;
}

.card:nth-child(1) .card-title {
  color: var(--clr-pr-cyan);
}

.card:nth-child(1) .accent-text {
  font-family: var(--ff-karla);
  font-size: 0.95rem;
  font-weight: var(--fw-700);
  color: var(--clr-pr-yellow);
  margin-block-start: 1.4rem;
}

.card:nth-child(1) .text {
  margin-block-start: 1.2rem;
  line-height: 1.7;
}

.card:nth-child(2) {
  background-color: var(--clr-pr-cyan);
}

.price {
  display: flex;
  align-items: center;
  color: var(--clr-ne-ltgray);
  font-family: var(--ff-karla);
  font-size: 2.2rem;
  font-weight: var(--fw-700);
  line-height: 1;
  margin-top: 1.4rem;
}

.month {
  font-weight: var(--fw-400);
  font-size: 1rem;
  margin-inline-start: .7em;
  color: hsla(203, 44%, 93%, 0.596);
}

.complementary-text {
  font-family: var(--ff-karla);
  font-weight: var(--fw-400);
  color: var(--clr-ne-ltgray);
  font-size: 1rem;
  margin-block-start: .5em;
}

.btn {
  display: inline-block;
  font-family: var(--ff-karla);
  font-weight: var(--fw-700);
  font-size: .95rem;
  background-color: var(--clr-pr-yellow);
  color: var(--clr-ne-ltgray);
  padding: .9rem;
  margin-block-start: 1.6rem;
  border: none;
  border-radius: .3em;
  cursor: pointer;
  transition: background 200ms;
  box-shadow: rgba(50, 50, 93, 0.074) 0px 13px 27px -5px, rgba(0, 0, 0, 0.078) 0px 8px 16px -8px;
  
}

.btn:hover,
.btn:focus-visible {
  background-color: hsl(71, 73%, 65%);
}

.card:nth-child(3) {
  background-color: var(--clr-pr-ltcyan);
}

.card:nth-child(3) .text {
  margin-block-start: 1rem;
  color: var(--clr-ne-ltgray);
}

footer {
  font-size: .85rem;
  margin-top: .8em;
  text-align: center;
  z-index: 2;
}

